.form\@file {
      visibility: hidden;
      position: absolute;
      opacity: 0;

      &__label {
        background: #747786;
        cursor: pointer;
        display: flex;
        padding: 12px;
        height: 200px;
        width: 300px;
        &:hover {
          background: lighten(#747786, 10%);
        }

        &-inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 12px;
          border: 2px dashed white;
        }
      }
    }

    .svg {
      display: flex;
      width: 40%;
      opacity: 0.6;
    }
    .results img{
        width: 150px;

    }
