.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;

background-color: #337ab7;
border: 0px;
color: #ffffff;
cursor: default;
margin-right: 0;
margin-left: 0;
position: relative;
display: block;
padding: 10px 15px;

}
.nav-tabs li a {
border: 1px solid rgba(0, 0, 0, 0);
border-radius: 4px 4px 0 0;
line-height: 1.42857;
margin-right: 0;
padding: 10px 15px;

}