
/*----------------------------------------------------------------------- 
table of content
-------------------------------------------------------------------------* /


File:           CSS Base
Version:        1.1
Last change:     
Author:         HTMLmate


/* ----------------------------
* 1 = Fonts 
* 2 = Global 
* 3 = Page head section
* 4 = portfolio section
* 5 = newsletter section
* 6 = Service section
* 7 = footer section


/*----------------------------------------------------------------------- 
End of Table of Content
-------------------------------------------------------------------------* /


/*----------------------------------------------------------------------- 
fonts [*1]
-------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400,700');


/*----------------------------------------------------------------------- 
Global [*2]
-------------------------------------------------------------------------*/

* { box-sizing: border-box; }
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 15px;
	line-height: 1.8;
	letter-spacing: .5px;
	background-color: #fff;
	color: #757575;
	font-family: 'Montserrat', sans-serif;

}
div#preloader { 
	position: fixed; 
	left: 0;
	top: 0;
	z-index: 999; 
	width: 100%; 
	height: 100%;
	overflow: visible;
	background: #fff url('../img/preloader.gif') no-repeat center center; }

	.ul-li ul {
		margin:0;
		padding: 0;
	}
	.ul-li  li {
		display: inline-block;
		list-style: none;
	}
	.ul-li-block li {
		display: block;
	}
	section {
		overflow: hidden;
	}
	img {
		max-width: 100%;
		height: auto;
	}

	.img-logo {
		max-width: 100%;
		height: auto;
		max-height: 60px;
		object-fit: contain;
	}
	
	a {
		transition: .3s all ease-in-out;
		color: #0e0e0e;

	}
	.form-control:focus,
	button:visited,
	button.active,
	button:hover,
	button:focus,
	input:visited,
	input.active,
	input:hover,
	input:focus,
	textarea:hover,
	textarea:focus,
	a:hover,
	a:focus,
	a:visited,
	a.active,
	select,
	select:hover, 
	select:focus, 
	select:visited {
		outline: none;
		box-shadow: none;
		text-decoration: none;
		color: inherit;
	}
	.form-control {
		box-shadow: none;
	}
	.ul-li ul {
		margin:0;
		padding: 0;
	}
	.ul-li  li {
		display: inline-block;
		list-style: none;
	}
	.ul-li-block li {
		display: block;
	}
	.disply{
		display: table;
		width: 100%;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		font-family: 'Playfair Display', serif;
	}
	.play-fair {
		font-family: 'Playfair Display', serif;
	}
	#preloader { 
		position: fixed;
		left: 0; 
		top: 0; 
		z-index: 999;
		width: 100%; 
		height: 100%;
		overflow: visible;
		background: #fff url('../img/loader_img.gif') no-repeat center center;
	}
	.deep-black {
		color: #090909;
	}
	.section-content {
		padding: 100px 0px;
	}
/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity;
}
.section-title h2 {
	font-size: 36px;
}
.border-top {
	position: relative;
}
.border-top:before {
	content: '';
	position: absolute;
	background-color: #e5e5e5;
	width: 88%;
	height: 1px;
	left: 0;

}
.table-display {
	display: table;
	width: 100%;
}
/*---------------------------------- 
padding setting
-----------------------------------*/
.pb40{padding-bottom: 40px;}
.pb45{padding-bottom: 45px;}
.pb55{padding-bottom: 55px;}
.pb55{padding-bottom: 55px;}
.pb75{padding-bottom: 75px;}
.pb95{padding-bottom: 95px;}
.pt90{padding-top: 90px;}
.pt50{padding-top: 50px;}


/*---------------------------------- 
Margin setting
-----------------------------------*/
.mt15{margin-top: 15px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mb30{margin-bottom: 30px;}
.mb20{margin-bottom: 20px;}
.mb10{margin-bottom: 10px;}
.mt60{margin-top: 60px;}
.mt50{margin-top: 50px;}
.mt170{margin-top: 170px;}
.ml50{margin-left: 50px;}

/*----------------------------------------------------------------------- 
Start of Page head section [*3]
-------------------------------------------------------------------------*/
.page-head-section {
	background-image: url(/images/samples/1280x768/2.jpg);
	padding-bottom: 420px;
	background-position: 50% 0%;
	position: relative;
	background-repeat: no-repeat;
	overflow: visible;
	top: 100px;
	margin-bottom: 100px;
}
.page-head-overlay,
.page-head-overlay-2 {
	background-color: rgb(249, 249, 249);
	opacity: 0.90;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}
.page-head-overlay-2 {
	/* background-color: rgb(0, 0, 0); */
	opacity: 0.90;
}
.page-head-effect {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#page-head-effect,
#page-head-effect canvas {
	height: 420px !important;
	width: 100%;
}
.page-head-title h1 {
	color: #090909;
	padding-bottom: 15px;
}
.social-title {
	transform: rotate(-90deg);
	text-align: center;
	position: absolute;
	left: 0;
}
.social-title span {
	color: #090909;
}
.page-head-content {
	position: absolute;
	top: 30%;
	left: 0;
	/* transform: translateX(-30%); */
	right: 0;
	text-align:  center;
	margin:  0 auto;
}
.page-head-social {
	height: 200px;
	width: 200px;
	border: 2px solid #090909;
	border-top: none;
	position: relative;
	/* margin-top: 30px; */
	margin: 30px auto 0px;
}
.page-head-social:before {
	content: '';
	position: absolute;
	background-color: #090909;
	width: 20px;
	height: 2px;
	top: 0;
	left: 0;
}
.page-head-social:after{
	content: '';
	position: absolute;
	background-color: #090909;
	width: 150px;
	height: 2px;
	top: 0;
	right:  0;
}
.page-head-social-item {
	position: absolute;
	bottom: 10px;
	left: 15px;
}
.page-head-social-list li {
	color: #090909;
	margin: 0px 10px;
}
.home-2 .page-head-content {
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.home-2 .page-head-social {
	height: 185px;
	margin: 0 auto;
}
.home-2 .social-title {
	left: 32%;
}  
.home-2 .page-head-social:before,
.home-2 .page-head-social:after {
	width: 80px;
}
.home-2.header-style-3 .page-head-section {
	background-image: none;
	padding-bottom: 360px;
}
.home-2.header-style-3 .page-head-section .page-head-effect {
	display: none;
}
.poppin-main-benner {
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	margin: auto;
	outline: 1px solid #fff;
	outline-offset: 5px;
	padding: 65px 0;
	text-align: center;
	width: 500px;
}
.page-head-section.style-2 {
	margin-bottom: 50px;
}
/*----------------------------------------------------------------------- 
End of Page head section [*3]
-------------------------------------------------------------------------*/



/*----------------------------------------------------------------------- 
Start of portfolio section [*4]
-------------------------------------------------------------------------*/
.item-wrap img {
	width: 100%;
}
.item-wrap {
	margin: 15px;
}
.portfolio-section {
	padding-top: 145px;
	padding-bottom: 100px;
}
.home-2.header-style-3 .portfolio-section {
	padding-top: 20px;
}
.home-2.header-style-3 .item-wrap  {
	margin: 0;
}
.item-grid {
	width: 33.33%;
	float: left;
}
.item-grid-1 {
	width: 50%;
	float: left;
}
.item-grid-2 {
	width: 25%;
	float: left;
}
.button-group button {
	background: transparent;
	color: #959595;
	border: none;
	box-shadow: none;
	padding: 0;
	margin-right: 45px;
	position: relative;
}
.button-group button:before,
button.tab-button.active:before {
	color: rgba(0, 0, 0, 0);
	content: ".";
	font-size: 30px;
	left: 0px;
	pointer-events: none;
	position: absolute;
	text-shadow: rgba(0, 0, 0, 0) 0px 0px;
	top: -42px;
	transition: text-shadow 0.3s ease 0s, color 0.3s ease 0s;
}
.button-group button:hover::before,
button.tab-button.active:before {
	color: #222222;
	text-shadow: 7px 0 #222222, 14px 0 #222222, 21px 0 #222222;
}
.button-group button span {
	position: absolute;
	top: -7px;
	right: -20px;
}
button.tab-button.active {
	color: #090909;
}
.work-item {
	position: relative;
}
.work-item:before {
	position: absolute;
	content: "";
	background-color: rgba(255, 255, 255, 0.45);
	width: 25%;
	height: 25%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.5s ease;
}
.work-item:after {
	position: absolute;
	content: "";
	background-color: rgba(255, 255, 255, 0.45);
	width: 25%;
	height: 25%;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: all 0.5s ease;
	transition-delay: 0.2s;
}
.work-item:hover::before,
.work-item:hover::after {
	opacity: 1;
	width: 100%;
	height: 100%;
}
.work-item:hover::before {
	left: 0;
	top: 0
}
.work-item:hover::after {
	right: 0;
	bottom: 0;
}
.hover-text a span {
	font-size: 24px;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 5px;

}
.project-catagorry li a{
	font-size: 12px;
	color: #000;
}
.hover-text {
	position: absolute;
	top: 45%;
	z-index: 1;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	opacity: 0;
	visibility: hidden;
	transition: .5s all ease-in-out;
}
.work-item:hover .hover-text {
	opacity: 1;
	visibility: visible;
	top: 50%;
	transition-delay: .7s;
}
.project-description  {
	position: absolute;
	bottom: 15px;
	right: 0;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: .3s all ease-in-out;
}
.project-description h3 {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	color: #000;
}
.project-description h3 a::before {
	border-bottom: 1px solid #232323;
	bottom: 0;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 50px;
}
.work-item:hover .project-description {
	opacity: 1;
	visibility: visible;
	right: 15px;
	transition-delay: 1.2s;
}
.more-btn,
.contact-adress-form button {
	height: 50px;
	width: 230px;
	margin: 0 auto;
	line-height: 55px;
	background-color: #f9f9f9;
	position: relative;
}
.more-btn a,
.contact-adress-form button {
	letter-spacing: 3px;
	color: #090909;
	display: block;
	width: 100%;
}
.more-btn:before,
.contact-adress-form button:before {
	content: '';
	position: absolute;
	top: 0;
	background-color: #e7e7e7;
	height: 5px;
	width: 100%;
	left: 0;
}
.more-btn:after,
.contact-adress-form button:after {
	content: '';
	position: absolute;
	top: 0;
	background-color: #090909;
	height: 5px;
	width: 50%;
	left: 0;
	transition: .3s all ease-in-out;
}
.more-btn:hover::after,
.contact-adress-form button:hover::after {
	width: 70%;
}



/*----------------------------------------------------------------------- 
Start of portfolio section
-------------------------------------------------------------------------*/




/*----------------------------------------------------------------------- 
Start of newsletter section [*5]
-------------------------------------------------------------------------*/
.newsletter-section,
.achivement-section {
	background-image: url(../img/banner/news-banner.jpg);
	padding: 55px 0px 100px;
	background-position: center center;
	background-repeat: no-repeat;
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}
.newsletter-title h2 {
	font-size: 35px;
}
.newsletter-section-content {
	position: relative;
	text-align: center;
}
.newsletter-form {
	max-width: 590px;
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
	position: relative;
}
.newsletter-form input {
	border: none;
	border-bottom: 2px solid;
	border-radius: 0;
	height: 55px;
}
.newsletter-form input:focus {
	border-bottom: 2px solid #e7e7e7;
}
.newsletter-form form {
	width: 100%;
}
.newsletter-form .input-group-addon {
	background-color: transparent;
	border: none;
	position: absolute;
	right: 25px;
	z-index: 3;
	top: 15px;
}
.newsletter-form .input-group-addon button {
	background-color: transparent;
	border: none;
}
/*----------------------------------------------------------------------- 
End of newsletter section
-------------------------------------------------------------------------*/




/*----------------------------------------------------------------------- 
Start of service section [*6]
-------------------------------------------------------------------------*/
.service-icon span {
	font-size: 72px;
}
.service-title h3 {
	font-size: 26px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}
.service-slide {
	position: relative;
}
.service-title h3:before {
	content: '';
	position: absolute;
	background-color: #959595;
	width: 70px;
	height: 2px;
	left: 0;
	bottom: 10px;
}
.service-slide:after {
	content: '';
	position: absolute;
	background-color: #959595;
	width: 70px;
	height: 2px;
	right:  0;
	top: -90px;
}
.service-title h3,
.service-icon span {
	padding-left: 85px;
}

.service-slide-content .owl-controls {
	position: absolute;
	top: -105px;
	right: 9%;
	display: inline-block;
}

.service-slide-content .owl-next,
.service-slide-content .owl-prev {
	float: left;
	text-transform: uppercase;
	color: #959595;
	font-size: 18px;
	margin-left: 15px;
	letter-spacing: 4px;
}
/*----------------------------------------------------------------------- 
End of service section
-------------------------------------------------------------------------*/




/*----------------------------------------------------------------------- 
Start of footer section [*7]
-------------------------------------------------------------------------*/
.footer-area {
	padding: 50px 0px;
	max-width: 1170px;
	margin:  0 auto;
	position:  relative;
}
footer {
	position: relative;
}
.scrollup {
	position: absolute;
	bottom: 88px;
	right: 0%;
	display: none;
	transform: rotate(-90deg);
	border: 1px solid #090909;
	border-right: none;
	padding: 32px;
}
.scrollup.custom {
	bottom: 63px;
}
.scrollup:after {
	content: '';
	position: absolute;
	background-color: #090909;
	height: 1px;
	width: 19px;
	top: 10px;
	transform: rotate(-90deg);
	left: 54px;
}
.scrollup:before {
	content: '';
	position: absolute;
	background-color: #090909;
	height: 1px;
	width: 19px;
	transform: rotate(-90deg);
	right: -9px;
	bottom: 10px;
}
.back-top {
	position: absolute;
	width: 90px;
	top: 20px;
	letter-spacing: 1px;
}
.footer-2 {
	background-color: #f2f2f2;
	margin-top: 50px;
}
.footer-2 .page-head-social-item {
	position: inherit;
}
/*----------------------------------------------------------------------- 
End of footer section
-------------------------------------------------------------------------*/



/*----------------------------------------------------------------------- 
Start of about us page
-------------------------------------------------------------------------*/
.single-page .page-head-title h1 {
	font-weight: 700;
}
.single-page .page-head-content {
	left: 50%;
	transform: translateX(-50%);
	top: 40%;
}
.breadcrumb {
	background-color: transparent;
}
.breadcrumb>li+li:before {
	content: "-";
	padding: 0px 10px;
	color: #090909;

}
.about-us-title h2 {
	font-size: 26px;
	line-height: 1.3;
}
@-webkit-keyframes Rx-width-75 {
	0% {
		width: 0%;
	}

	100% {
		width: 75%;
	}
}

@keyframes Rx-width-75 {
	0% {
		width: 0%;
	}

	100% {
		width: 75%;
	}
}
@-webkit-keyframes Rx-width-65 {
	0% {
		width: 0%;
	}

	100% {
		width: 65%;
	}
}
@keyframes Rx-width-90 {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}
@-webkit-keyframes Rx-width-90 {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}
@keyframes Rx-width-85 {
	0% {
		width: 0%;
	}

	100% {
		width: 85%;
	}
}
.Rx-width-75 {
	-webkit-animation-name: Rx-width-75;
	-o-animation-name: Rx-width-75;
	animation-name: Rx-width-75;
	animation-fill-mode: forwards;
}
.Rx-width-85 {
	-webkit-animation-name: Rx-width-85;
	-o-animation-name: Rx-width-85;
	animation-name: Rx-width-85;
	animation-fill-mode: forwards;
}
.Rx-width-65 { 
	-webkit-animation-name: Rx-width-65;
	-o-animation-name: Rx-width-65;
	animation-name: Rx-width-65;
	animation-fill-mode: forwards;
}
.Rx-width-90 {
	-webkit-animation-name: Rx-width-90;
	-o-animation-name: Rx-width-90;
	animation-name: Rx-width-90;
	animation-fill-mode: forwards;
}
.progress{
	overflow: visible;
	height: 5px;
	margin-bottom: 20px;
	background-color: #e5e5e5;
	border-radius: 0;
}
.progress-bar {
	position: relative;
	background: #090909;
	height: 5px;
}
.skilled-tittle{
	display: inline-block;
	margin-bottom: 10px;
	font-weight: 300;
}
.skilled-percent{
	float: right;
}


/*-----------------------------------
Start of achivement section
-------------------------------------*/
.achivement-section {
	padding: 120px 0px;
}
.achive-icon span {
	font-size: 36px;
}
.achive-text h3 {
	font-weight: 700;
	padding: 10px 0px 15px;
}
/*-----------------------------------
End of achivement section
-------------------------------------*/



/*-----------------------------------
Start of testimonial section
-------------------------------------*/
.testimonial-section{
	background-color: #f1f1f1;
	margin-top: 55px;
}
.testimonial-section .section-content {
	padding-top: 60px;
	padding-bottom: 75px;
}
.testimonial-icon span {
	font-size: 72px;
	color: #d7d6d6;
}
.testimonial-dec {
	max-width: 630px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	padding: 40px 0px 0px;
}
.testimonial-icon {
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
	top: 25px;
}
.clients-des,
.testimonial-dec .name{
	font-size: 18px;
	position: relative;
}
.testimonial-dec .name:before {
	content: '';
	position: absolute;
	height: 2px;
	width: 40px;
	background-color: #090909;
	top: 10px;
	left: -50px;
}
.testimonial-item .owl-controls {
	text-align: center;
}
.testimonial-item .owl-dots .owl-dot {
	height: 10px;
	width: 10px;
	background-color: #e5e5e5;
	text-align: center;
	margin: 0 5px;
	display: inline-block;
	border-radius: 100%;
	margin-top: 45px;
}
.testimonial-item .owl-dots .owl-dot.active {
	background-color: #ababab;
}
/*-----------------------------------
End of testimonial section
-------------------------------------*/
.partner-logo-slide .logo-item {
	position: relative;
	height: 140px;
	width: 150px;
	background-color: #fcfcfc;
	padding-top: 30px;
	padding-left: 10px;
}
.partner-logo-slide .item-hover {
	position: absolute;
	opacity: 0;
	top: 0;
	transition: .3s all ease-in-out;
	padding-top: 30px;
}
.logo-item:hover .item-hover {
	opacity: 1;
}
.partner-section {
	padding: 70px 0px;
}

.blog-head h2 {
	font-size: 20px;
	line-height: 28px;
}
.latest-blog-comments a {
	color: #959595;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}
.blog-main-text-pic {
	width: 360px;
	margin: 0 15px 50px;
}
.blog-details {
	border-bottom: 1px solid #d2cbcb;
	margin-bottom: 15px;
}
.meta-list li a {
	color: #959595;
	margin-right: 15px;
}
.blog-main-link  h2 {
	font-size: 18px;
	line-height: 1.5;
	font-weight: 700;
}
.blog-read-more a {
	color: #959595;
	position: relative;
}
.blog-read-more a span {
	position: absolute;
	opacity: 1;
	left: 80px;
	top: 3px;
	opacity: 0;
	transition: .3s all ease-in-out;
}
.blog-read-more a:hover span {
	left: 90px;
	opacity: 1;
}
.blog-list-pic-text {
	display: table;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 20px;
	margin-bottom: 40px;
}
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a, 
.pagination>li:last-child>span {
	border-radius: 0;
}
.pagination {
	margin-bottom: 0;
}
.pagination>li a {
	margin: 0px 5px;
	color: #090909;
	border-color: #090909; 
}
.contact-text span {
	font-size: 26px;
}
.contact-text {
	max-width: 770px;
	margin: 0 auto;
}
.google-map-container {
	width: 100%;
	height: 500px;
	background-color: #dddddd;
}
.contact-adress .service-icon span {
	font-size: 52px;
}
.contact-adress .service-title h3,
.contact-adress .service-icon span {
	padding-left: 60px;
}
.contact-adress  .service-title h3 {
	font-size: 18px;
}
.contact-adress  .service-title h3:before {
	width: 40px;
}
.contact-info-item input {
	height: 50px;
	width: 29%;
	float: left;
	margin-right: 30px;
	padding: 15px;
	background-color: #f9f9f9;
	border: none;
}
.contact-info-msg textarea {
	width: 94%;
	border: none;
	background-color: #f9f9f9;
	padding: 15px;
	margin-top: 20px;
}
.contact-adress-form button {
	width: 230px;
	margin: 30px 0 0px;
	line-height: 53px;
	border: none;
}
.contact-us-section .section-content {
	padding-bottom: 50px;
}
/*----------------------------------------------------------------------- 
End of about us page
-------------------------------------------------------------------------*/



/*----------------------------------------------------------------------- 
Start of Blog single page
-------------------------------------------------------------------------*/
.blog-single-quate blockquote {
	background-color: #f9f9f9;
	font-style: italic;
}

label {
	color: #626262;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
.comment-form input {
	border: 1px solid #e5e5e5;
	height: auto;
	margin-bottom: 20px;
	padding: 10px 15px;
	width: 100%;
}
.clear-fix textarea {
	border: 1px solid #e5e5e5;
	height: 150px;
	margin-bottom: 20px;
	margin-top: 0;
	padding: 15px;
	width: 100%;
}
.popin-btn,
.blog-tag-list li a {
	border: 1px solid #e5e5e5;
	color: #232323;
	display: inline-block;
	font-size: 12px;
	height: 45px;
	letter-spacing: 1px;
	line-height: 45px;
	padding: 0 30px;
	text-transform: uppercase;
}

.comment-form,
.comment-form-list-pic-text {
	box-shadow: 0 1px 5px 0 #ccc;
	padding: 30px;
	margin-bottom: 20px;
}
.comment-form-list {
	display: inline-block;
}
.author-name,
.author-date,
.reply-text  {
	display: block;
}
.author-text {
	overflow: hidden;
}
.author-pic {
	margin-right: 25px;
}
.blog-search {
	position: relative;
}
.blog-search input {
	height: 50px;
	border: 1px solid #ccc;
	width: 100%;
	padding: 15px;
}
.blog-search button {
	position: absolute;
	top: 0;
	right: 15px;
	height: 50px;
	background-color: transparent;
	border: none;
}
.widgettitle {
	font-size: 26px;
}
.badge {
	background-color: transparent;
	color: #585858;
	font-size: 15px;
}
.category-item-list li {
	margin-bottom: 10px;
	transition: .3s all ease-in-out;
	position: relative;
}
.category-item-list li:after {
	position: absolute;
	content: '';
	left: 0px;
	background-color: #ccc;
	height: 2px;
	width: 0;
	top: 13px;
	transition: .3s all ease-in-out;
}
.category-item-list li:hover a {
	color: #ccc;
	margin-left: 15px;
}

.category-item-list li:hover:after {
	width: 10px;
}

.rec-img {
	float: left;
	margin-right: 10px;
}
.rec-link h3 a {
	color: #040404;
	font-size: 15px;
}
.rec-nws-meta li a,
.visit-reply span {
	font-size: 13px;
}
.side-tab-img-text {
	display: inline-block;
	margin-bottom: 20px;
	width: 100%;
}
.blog-tag-list li a {
	padding: 0px 15px;
	margin: 3px 0px;
}
/*----------------------------------------------------------------------- 
End of Blog single page
-------------------------------------------------------------------------*/
.portfolio-single-slide-content .owl-dots {
	text-align: center;
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.portfolio-single-slide-content .owl-dot {
	height: 10px;
	width: 10px;
	background-color: transparent;
	border: 1px solid #fff;
	display: inline-block;
	margin-right: 5px;
}
.banner-content::after {
    content: "";
    clear: both;
    display: table;
}
.padding-portfolio {
	padding-top: 150px
}
.profile-row{
	padding-bottom: 20px; 
	background-color: #efefe9;
}

.word-break-p{
	word-wrap: break-word;
}
.white-div-profile{
	background-color: white !important;
}
.form\@file {
      visibility: hidden;
      position: absolute;
      opacity: 0;

      &__label {
        background: #747786;
        cursor: pointer;
        display: flex;
        padding: 12px;
        height: 200px;
        width: 300px;
        &:hover {
          background: lighten(#747786, 10%);
        }

        &-inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 12px;
          border: 2px dashed white;
        }
      }
    }

    .svg {
      display: flex;
      width: 40%;
      opacity: 0.6;
    }
    .results img{
        width: 150px;

    }
